<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name = "RemoteServers" type="ServerSyncPlugin.RemoteServersSection, ServerSync"/>
  </configSections>
  <appSettings>
    <add key="serverSyncPort" value="43765"/>
  </appSettings>
  <RemoteServers>
    <servers>

    </servers>
  </RemoteServers>
</configuration>