obj/
bin/
*.userprefs
*.pidb
*test-results*
.idea/
Docs/html
Docs/libpeerconnection.log
packages
Binaries/
*.v11.suo
*.suo
*.mdf
TestResults
Core/PluginManager/TestPlugins
*~
*.vsp
*.psess
*.licenseheader
WebClient/resources/proprietary
TestResult.xml