<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sceneryURL" value="resources/proprietary/megacity/megacity.xml" />
    <add key="offsetX" value="0.0f" />
    <add key="offsetY" value="-2.0" />
    <add key="offsetZ" value="0.0f" />
  </appSettings>
</configuration>
