<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

    <appSettings>
        <add key="ServerPort" value="34838" />
        <add key="ServerHost" value="127.0.0.1" />
        <add key="NumEntitesToGenerate" value="1" />
        <add key="ActionDelayMs" value="100" />
        <add key="EnableMovement" value="true" />
        <add key="EnableRotation" value="false" />
    </appSettings>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="logfile" xsi:type="File" filename="Client.log" layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] {${callsite}} ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}" />
            <target name="console" xsi:type="Console" layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] {${callsite}} ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}" />
        </targets>

        <rules>
            <logger name="NativeClient*" minlevel="Info" writeTo="logfile" />
            <logger name="NativeClient*" minlevel="Info" writeTo="console" />
        </rules>
    </nlog>
</configuration>
