<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="debug" value="true"/>
        <add key="error" value="true"/>
        <add key="fatal" value="true"/>
        <add key="info" value="true"/>
        <add key="warn" value="true"/>
    </appSettings>
</configuration>