<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">PersistencePlugin.MySQLGuid32, Persistence</property>
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="connection.connection_string">Server=127.0.0.1;Database=fivestest;Uid=root;</property>
    <mapping assembly = "Persistence" />
  </session-factory>
</hibernate-configuration>
