<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <section name="nhibernate_nlog" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>

    <appSettings>
        <add key="PluginDir" value="../../../../BuiltLibs/" />
        <add key="ProtocolDir" value="../../../../BuiltLibs/" />
        <add key="nhibernate-logger" value="PersistencePlugin.NLogFactory, Persistence"/>
    </appSettings>

    <nhibernate_nlog>
        <add key="debug" value="true"/>
        <add key="error" value="true"/>
        <add key="fatal" value="true"/>
        <add key="info" value="true"/>
        <add key="warn" value="true"/>
    </nhibernate_nlog>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="logfile" xsi:type="File" fileName="FIVES.log"
                    layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
            <target name="console" xsi:type="Console"
                    layout="${date} [${level:uppercase=true}] ${message} ${exception:format=tostring}" />
        </targets>

        <rules>
            <logger name="*" minlevel="Info" writeTo="logfile" />
            <logger name="*" minlevel="Warn" writeTo="console" />
        </rules>
    </nlog>
</configuration>