<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--<add key="DoI-MinX" value="-100" />-->
        <!---<add key="DoI-MaxX" value="100" />-->
        <!--<add key="DoI-MinY" value="" />-->
        <!--<add key="DoI-MaxY" value="" />-->
        <!--<add key="DoI-Components" value=""/>-->

        <!---<add key="DoR-MinX" value="0" />-->
        <!---<add key="DoR-MaxX" value="0" />-->
        <!--<add key="DoR-MinY" value="" />-->
        <!--<add key="DoR-MaxY" value="" />-->
    </appSettings>
</configuration>