<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ServerConfiguration>
    <!-- Specifies the listener to which clients connect in order retrieve the server configuration -->
    <!-- This server configuration document will contain the URI to the IDL as well as the list of  -->
    <!-- the implemented services according to the SINFONI specification -->
    <ConnectionListener host = "+" port="8181" path="/fives/" />

    <!-- FiVES will host all Plugin-provided service under a combined service in terms of the SINFONI -->
    <!-- specification. This service will run on the same IP as the server as such                  -->
    <ServiceConfiguration host = "Any" transport="ws" protocol="fives-json" port="34837" />
  </ServerConfiguration>
  <Paths>
    <ProtocolPath value = "./SINFONI" />
    <TransportPath value = "./SINFONI" />
  </Paths>
</configuration>
