<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "numBots" value ="10"/>
    <add key = "botMesh" value ="models/natalieFives/xml3d/natalie.xml"/>
    <add key = "walkSpeed" value="0.05"/>
    <add key = "walkRotateSpeed" value="0.05"/>
  </appSettings>
</configuration>